@charset "utf-8";

#input {
	display: block;
	width: 100%;
	height: 90%;
	box-sizing: border-box;
	
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	tab-size: 4;
}


a.tab {
	margin: 0px;
	margin-top: 5px;
	padding: 3px 7px;
	
	text-decoration: none;
	background: #999;
	color: #fff;
	font-size: 14px;
	font-family: Consolas, monospace;
	
	z-index: 10;
	position: relative;
}
a.tab:first-child {
	margin-left: 20px;
}

td pre {
	position: absolute;
	right: 10px; left: -5px;
	top: 10px; bottom: 5px;
	
	margin: 5px 0px 5px 20px; 
	padding: 10px 3px;
	
	overflow-y: auto;
	z-index: 5;
	 
	font-size: 18px;
	
	border: 1px solid #999;
}

td {
	height: 100%;
	vertical-align: top;
}

pre em {
	font-style: normal;
	font-weight: bold;
	color: #f00;
}

#terminal {
	width: 100%;
	height: 300px;
	box-sizing: border-box;
}