@charset "utf-8";

html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; }

table, tr, td { border: 0px none; border-spacing: 0px; border-collapse: collapse; vertical-align: top; }

#wrapper {
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
}

/* =============== [ CPANEL ] =================================== */

#cpanel {
	width: 220px;
	overflow: hidden;
	padding: 0px;
}

#user-info {
	width: 100%; height: 50px;
	margin: 0px;
	padding: 2px 0px 2px 2px;
	display: table;
	
	margin-bottom: 15px;
}

#cpanel .avatar {
	float: left;
	margin-left: 5px;
}

#user-info .avatar {
	margin: 5px;
}

#cpanel .label {
	margin: auto 0px;
	display: table-cell;
	width: 160px;
	vertical-align: middle;
}

/* =============== [ FRIENDS ] ================================== */

#friends {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#friends li {
	display: table;
	width: 100%;
	height: 54px;
	position: relative;
}

#friends li .avatar {
	margin: 2px 5px;
}
#friends li::before {
	display: block;
	position: absolute;
	z-index: 1000;
}

/* =============== [ CONTENT ] ================================== */

#page {
	padding-left: 10px;
}

/* =============== [ CHARTS ] ================================== */

.chart .bar {
	max-width: calc(100% - 10px - 15px);
	min-height: 10px;
	
	padding: 10px 3px;
	
	position: relative;
}
.chart .bar::after {
	font-size: 15px;
	color: #1240AB;
	font-weight: bold;
	
	position: absolute;
	display: block;
	left: calc(100% + 5px);
	content: attr(data-label);
	top: 5px;
}
